
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenido a No Más Accidentes!</div>
            <div class="intro-heading text-uppercase">Ven y conoce nuestros servicios</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Ver Más</a>
        </div>
    </div>
</header>

<!-- Services -->
<section class="bg-light page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Servicios</h2>
                <h3 class="section-subheading text-muted">La mejor empresa para el mejor cliente.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Personal Especializado</h4>
                <p class="text-muted">Contamos con el mejor equipo de trabajo para entregar la mejor experiencia a nuestros clientes.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Call Center</h4>
                <p class="text-muted">Contamos con servicio call center las 24 horas del día.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Experiencia</h4>
                <p class="text-muted">Contamos con más de 5 años de experiencia con diversas empresas a lo largo de Chile.</p>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nosotros</h2>
                <h3 class="section-subheading text-muted">Observa nuestros logros.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Primer Trabajo</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorea El Ipsum Readi me voy en cana terrible de perkin cuca conotao caracho jato ñoco pero pa q po zarpao ascurrio, la cani zarpao fierro terrible de perkin zarpao andai con la pera de vio brocacochi. Zorra pasa paca
                                    coshino ql fineza gila fineza embarao te tirita la pera
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Segunda Pega</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorea El Ipsum Readi me voy en cana terrible de perkin cuca conotao caracho jato ñoco pero pa q po zarpao ascurrio, la cani zarpao fierro terrible de perkin zarpao andai con la pera de vio brocacochi. Zorra pasa paca
                                    coshino ql fineza gila fineza embarao te tirita la pera
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Tercera Pega xD</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorea El Ipsum Readi me voy en cana terrible de perkin cuca conotao caracho jato ñoco pero pa q po zarpao ascurrio, la cani zarpao fierro terrible de perkin zarpao andai con la pera de vio brocacochi. Zorra pasa paca
                                    coshino ql fineza gila fineza embarao te tirita la pera
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2018</h4>
                                <h4 class="subheading">Cuarta pega</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Lorea El Ipsum Readi me voy en cana terrible de perkin cuca conotao caracho jato ñoco pero pa q po zarpao ascurrio, la cani zarpao fierro terrible de perkin zarpao andai con la pera de vio brocacochi. Zorra pasa paca
                                    coshino ql fineza gila fineza embarao te tirita la pera
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Se Parte
                                <br>De Nuestra
                                <br>Historia!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
                <h3 class="section-subheading text-muted">Conoce nuestro destacado equipo.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/img/team/ivan.jpg" alt="">
                    <h4>Iván Saez</h4>
                    <p class="text-muted">Portafolio</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/img/team/andres.jpg" alt="">
                    <h4>Andrés González</h4>
                    <p class="text-muted">Portafolio</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/img/team/alan.jpg" alt="">
                    <h4>Alan Santis</h4>
                    <p class="text-muted">Portafolio</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/img/team/alvaro.jpg" alt="">
                    <h4>Álvaro Ríos</h4>
                    <p class="text-muted">El Mejor</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/img/team/alfredo.jpg" alt="">
                    <h4>Alfredo Santander (No Eduardo)</h4>
                    <p class="text-muted">Portafolio</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    Lorea El Ipsum Readi me voy en cana terrible de perkin cuca conotao caracho jato ñoco pero pa q po zarpao ascurrio, la cani zarpao fierro terrible de perkin zarpao andai con la pera de vio brocacochi. Zorra pasa paca coshino ql fineza
                    gila fineza embarao te tirita la pera a treh deo shilamediavola truco washas, buqué oe zi gila de vio jato de vio chantar machucao cuca, los techeka tenis mano? vendisuone picao machucao anda a laar ñoco zarpao washas..
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Clients -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/Content/img/logos/envato.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/Content/img/logos/designmodo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/Content/img/logos/themeforest.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/Content/img/logos/creative-market.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>